/* Tufte CSS */

body {
	width: 489px;
	min-height: 600px;
	background-color: #fff;
}

footer {
	height: 100px;
}

#about {
	color: #4f4f4f;
	text-anchor: right;
	position: absolute;
	top: 12px;
	right: 20px;
}

a {
	outline: none;
	color: #000;
	text-rendering: optimizeLegibility;
}

#wb-intro {
	font-size: 1.2em;
	margin-left: 10px;
	color: #4f4f4f;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
}

#wb-pageTitle {
	margin-left: 10px;
	color: #4f4f4f;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
}

div.result {
	display: block;
	height: 120px;
	width: 100%;
}

span.rank {
	font-family: font-family: "Helvetica Neue", Helvetica, sans-serif;
	width: 25px;
	font-size: 1.4em;
	color: #c9c9c9;
	float: left;
	left: 10px;
	text-align: right;
	margin-top: 55px;
	vertical-align: middle;
}

a.gist {
	margin-left: 20px;
	border:none;
	background-position: 0% 50%;
	height: 110px;
	width: 230px;
    display: block;
    float: left;
    line-height: normal;
    margin: 10px;
    position: relative;
}

ul.tag-list {
	list-style: none;
	padding: 12px;
}

a.gist:hover {
	border-color: #E6550D;
}

.description {
	pointer-events: none;
	position: absolute;
    top: 12px;
    left: 12px;
    z-index: 4;
    color: #000;
	font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
   	text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
}

.score {
	pointer-events: none;
	position: absolute;
    bottom: 12px;
    left: 12px;
    z-index: 4;
    color: #000;
	font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
   	text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
   	font-weight: bold;
}

.username {
	font-style: italic;
	pointer-events: none;
	position: absolute;
	bottom: 12px;
	text-anchor: end;
	right: 12px;
    z-index: 4;
    color: #000;
	font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
   	text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
}

li {
    color: #4f4f4f;
	display: inline-block;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
	margin-bottom: 5px;
}

.next {
	font-family: font-family: "Helvetica Neue", Helvetica, sans-serif;
	left: 20px;
	font-size: 22px;
	margin-left: auto;
	margin-right: auto;
	visibility: hidden;
    position: relative;
    cursor: pointer;
}

.next span {
	text-decoration: underline;
}