body {
	width: 489px;
	min-height: 600px;
	background-color: #fff;
}

a {
	outline: none;
	color: #4682B4;
	text-rendering: optimizeLegibility;
}

#wb-intro {
	height: 18px;
	margin-left: 10px;
	color: #4f4f4f;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	text-rendering: optimizeLegibility;

}

#wb-pageTitle {
	margin-left: 10px;
	color: #4f4f4f;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	height: ;
	text-rendering: optimizeLegibility;

}

div.result {
	display: block;
	height: 120px;
}

a.gist {
	border:none;
	background-position: 0% 50%;
	height: 110px;
	width: 230px;
    display: block;
    float: left;
    line-height: normal;
    margin: 10px;
    position: relative;
}

ul.tag-list {
	list-style: none;
}

a.gist:hover {
	border-color: #E6550D;
}

.description {
	pointer-events: none;
	position: absolute;
    padding: 12px;
    z-index: 4;
    color: #4f4f4f;
	font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
   	text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
}

li {
	font-size: 1.2em;
    color: #4f4f4f;
	display: inline-block;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
	margin-bottom: 5px;
}

.username {
	color: #4f4f4f;
	font-size: 1.4em;
}
