/* Tufte CSS */

body {
	width: 489px;
	min-height: 600px;
	background-color: #FCFCFA;
}

a {
	outline: none;
	color: #000;
	text-rendering: optimizeLegibility;
}

#wb-intro {
	font-size: 1.2em;
	margin-left: 10px;
	color: #000;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	text-rendering: optimizeLegibility;
}

#wb-pageTitle {
	margin-left: 10px;
	color: #000;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	height: ;
	text-rendering: optimizeLegibility;
}

div.result {
	display: block;
	height: 120px;
}

a.gist {
	border:none;
	background-position: 0% 50%;
	height: 110px;
	width: 230px;
    display: block;
    float: left;
    line-height: normal;
    margin: 10px;
    position: relative;
}

ul.tag-list {
	list-style: none;
	padding: 12px;
}

a.gist:hover {
	border-color: #E6550D;
}

.description {
	pointer-events: none;
	position: absolute;
    top: 12px;
    left: 12px;
    z-index: 4;
    color: #000;
	font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
   	text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
}

.rank {
	pointer-events: none;
	position: absolute;
    bottom: 12px;
    left: 12px;
    z-index: 4;
    color: #000;
	font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
   	text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
   	font-weight: bold;
}

.username {
	font-style: italic;
	pointer-events: none;
	position: absolute;
	bottom: 12px;
	text-anchor: end;
	right: 12px;
    z-index: 4;
    color: #000;
	font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
   	text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
}

li {
    color: #000;
	display: inline-block;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
	margin-bottom: 5px;
}
